body{
    background-color: rgb(184, 181, 181);  
   
}
.f1{
     /* background-image: url(/images/bg_720.png); */
    /* height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover; */
} 
.main{
    display: flex;
    background-image: url(/images/bg_720.png);height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
} 
    


.main ul li{
    
    display: inline;
    margin: 1rem;
}


.serah{
    width: 50%;
    
}
.serah a{

    text-decoration: solid;
}
.m5{
    width: 50%;
    /* display: flex;
    margin: 1rem;
    gap: 40px; */
}

.B{
    text-align: center;
    
    
}
.D{
    display: flex;
    margin-top: -40em;
}
.E{
    width:80%;
    height: 80%;
  
}
.F{
    width: 30%;
    height: 50%;
    background-image: linear-gradient(red,purple,skyblue);
}
.H{
    width:80%;
    height: 80%;

}
.I{

    width: 30%;
    height: 50%;
   
}
.I{
    background-image:linear-gradient(blue, purple, skyblue);


}
.J{
    width:80%;
    height: 80%;

}
.K{
    
    width: 30%;
    height: 50%;

}
.K{
    background-image:linear-gradient(blue, purple, skyblue);

    
}
.section3{
    
}
.M{
    display: flex;
    /* gap: 40px; */
}
.N{
    text-align: center;
}



.Q{
    width: 1100px;
    height: 1100px;
}
.T{
    width: 1100px;
    height: 1100px;

}
.V{
    width: 100%;
    height: 100%;
}
.c{
    height: 20%;
    width: 20%;
}
z{
    height: 30%;
 width: 60%;
 padding-left: 25px;



}




.k{
    height: 90%;
    width: 80%;
}
.o{
    height: 90%;
    width: 80%;
}
.very{
    display: flex;
    justify-content: space-between;
    border: solid;
    background-color: rgb(246,102,102);
    position: relative;

    /* top: -200px; */
}
/* .more{
    border: solid blue;
    border-radius: 25px;
    width: 50%;
    height: 50%;
    /* margin-left: 30%; */
    /* padding-top: 30px; */
    padding-bottom: 10%;
    /* background-color: dak; */
    position: relative;
    /* top: -200px; */
     */


 .R{
    margin-left: 10%;
   
 } 
 .R{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
 }   
.S{
    margin-left: 10%;
    /* margin-left: 25%; */
    /* position: relative; */
    /* top: -300px; */
}
.S{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;

}
.ME{
    height: 10%;
    width: 10%;
    border-radius: 50%;
    /* position: relative; */
 /* top: -200px; */

}
.U {
    margin-left: 10%;
    /* width: 100px; */
    
    /* margin-left: 50%; */
    /* position: relative; */
    /* top: -500px; */

}
.U{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;

}
.a{
     margin-left: 10%; */
    /* position: relative; */
    /* top: -700px; */
   
}
.a{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;

}
.hey{
   display: flex; 
   
}
.hey img{
    width: 250px;
    height: 200px;
}
.h{
    display: flex;

}
.i{
    padding-left: 65px;
}
.g{
    padding-left: 10%;
}
.q{
    display: flex;
    position: relative;
    /* top:-200px; */
}

.ONE{
    color: rgb(219, 115, 115);
}
.TWO{
    color:rgb(235, 118, 118);
}
.THREE{
    background-color: #f77071;
}
.FOUR{
    background-color:#f77071;
    padding: 1em;
    border-radius: 10%;
    height: 50px;
   
}
.FIVE{
    border-radius: 9%;
    padding: 1em;
    border-color:rgb(119, 46, 46) ;
}
.SIX{
    background-color: #f77071;
    padding: 1em;
    border-radius: 10%;
    height: 50px;
   
}
.SEVEN{
    border-radius: 9%;
    padding: 1em;
    border-color:rgb(119, 46, 46) ;
    
}

.NINE{

}

.fix{
    color: brown;
}
.a1{
    background-color: palevioletred;
    padding: 25px;
}
.LIZ{
    padding: 0px 2px;
    background-color: white;
    border-radius: 1em;


}

.b1{
    width: 10%;
    height: 20%;
}
.shoe6{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;

}
.c1{
    width: 40%;
    height: 50%;
}
.d1{
    width: 10%;
    height: 100%;
}
.shoe7{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;

}
.f1{
    /* width: 90%; */
 
    height: 30%;
}
.shoe5{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;


}
hoe5{
    margin-left: 2%;
    
    width: 200px;
}
.g1{
    display: flex;

    /* position: absolute; */
    
}
.g1{
    gap: 20px;
}
.g1 img{
    width: 180px;
    height: 180px;
    margin: 2px;
}
.section5{
  
}
.e3{
   font-size: 200%;
    /* top: -200px; */
}
.p1{
    /* position: relative; */
    /* top: -200px; */

}
.p3{
    /* position: relative; */
    /* top: -200px; */


}
.O{
    display: flex;
    gap: 60px;
    list-style-type: non
 
}
.mens{
    color: crimson;
    font-size: 200%;
}
.women{
    font-size: 200%;
}
.kids{
    font-size: 200%;
}
.see{
    text-align: center;
}
.more{
    padding: 30px;
    border-color:;#ecafba
    border-radius: 10px;
    background-color: white;
    
}
.top{
  margin: 40px;  

}
.v1{
    width: 40px;
    height: 40px;
    ;
}
.view{
    padding-left: 50%;

}
.normal{
    padding-left: 30%;
    border-radius: 1em;
    
    
    background-color: pink;
}
li{
    line-height: 50px;
    list-style: none;
}
body{
    background-color: rgb(194, 187, 187);
    overflow-x: hidden;
    width: 100%;
}
.mummy{
    margin-top: 10px;
    float: left;
    height: 600px;
    width: 250px;
    background-color: rgb(241,40,90);
    border-radius: 1550px/ 0px 1250px 4550px 1500px;
}

.rancha{
    width: 50%;
}
ul a{
    text-decoration: none;
    padding: 1px;
    color: black;
}
.mary{
    width: 50%;
}
 .ann ul li{ 
    
    list-style: none;
    padding: 3px;
    display: inline;
    margin: 1rem;
    
}
.ann{
    display: flex;
    border: 100%;
}
.nav ul li{
    display: inline;
    margin: 1rem;
}
.serah1{
    display: flex;
}
.shoe2{
  width: 8%;
  height: 8%;
}
.shoe1{
    width: 10%;
    height: 10%;
}
.shoe3{
    width: 10%;
    height: 10%;
  
}
.serah3{
    position: relative;
    top: -200px;
  
}
.ani{
    background-image: linear-gradient(white);
}
.ani{
    width: 80%;
    height: 80%;
}
.hey{
    display: flex; 
    
 }
 .hey img{
     width: 150px;
     height: 150px;
 }
 .R{
    margin-left: 4%;
   
 } 
 .R{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
 } 
 .R{
    border: solid;
 }  
.S{
    margin-left: 4%;
   
}
.S{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;

}
.S{
    border: solid;
}
.a{
    margin-left: 4%; 
   
  
}
.a{
   padding: 10px 12px;
   background-color: white;
   border-radius: 1em;

}
.a{
    border:solid ;
}
.U{
    border: solid;
}
.Q{
    width: 1100px;
    height: 1100px;
}
.T{
    width: 1100px;
    height: 1100px;

}
.V{
    width: 80%;
    height: 80%;
}
.c{
    height: 20%;
    width: 20%;
}
.U {
    margin-left: 4%;
   
    

}
.U{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.
.R{
    border-radius: 2em;
    
}
.serah4{
   
  
    text-align: center;
}
    

.very{
    display: flex;
    
border: solid;
width: 100%;
height: 200px;
    background-color: rgb(246,102,102);
    position: relative;
    justify-content: space-between;
    border-radius: 10px;
  
}
.very ul li{
    list-style-type: none;
}
.one{
    padding: 20px;
}
.two{
    padding: 20px;
    background-color: #f77071;
}
.three{
    color: #f77071;
}
.four{
    color: #f77071;


}
.one{
    border-color:#f77071 ;
}
.SPAN{
    border-radius: 50%;
    border-color:#f77071 ;
    background-color: #f77071;
    width: 50%;
    height: 50%;
}
.n1 ul li{

    list-style: none;
    padding: 3px;
    display: inline;
    margin: 1rem;

}

.n1{
    display: flex;
    border: 100%;
    
}
.n2{
    width: 50%;

}
.n3{
background-image: url(/images/);
}
.n4{
    width: 80%;
    height: 80%;
}
.n5{
    display: flex;
}
.n6{
    text-align: center;
}
.n7{
    font-size: 150%;
}
.n8{
    display: flex;
}
.n9{
    width: 100%;
    height: 100%;

}
.n10{
    font-size: 150%;
}
.n11{
    display: flex;

}
.n12{

}
.n13{
    width: 80%;
    height: 80%;


}
.n14{
    font-size: 150%;

}
.n15{
    display: flex;
    
border: solid;
width: 100%;
height: 200px;
    background-color: rgb(246,102,102);
    position: relative;
    justify-content: space-between;
    border-radius: 10px;
  

}
.n15{
    list-style-type: none;
}
.n16{
    padding: 20px;
    background-color: #f77071;
    position: relative;
    top: -25px;
    border-radius: 20px;
}
.n17{
    padding: 20px;
    background-color: #f77071;
    position: relative;
    top: -25px;
    border-radius: 20px;

}
.n18{
    padding: 20px;
    background-color: #f77071;
    position: relative;
    top: -25px;
    border-radius: 20px;


}
.s1 ul li{
    list-style: none;
    padding: 3px;
    display: inline;
    margin: 1rem;


}
.s1{
    display: flex;
    border: 100%;


}
.s2{
    width: 50%;
}
.s3{
    width: 50%;
}
.s4{
    text-align: center;
  
}
.s5{
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
}

.s6{
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;

}
.s7{
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;


}
.s8{
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;

}
.s9{
    border: solid;
    width: 15%;
    height: 25%;
    padding: 35px;
    border-radius: 10px;
    font-size: 20px;
}
.s10{
    padding: 15px;
    border-radius: 20px;
    font-size: 10px;
    background-color:#f77071 ;
}
.s12{
    color: #f77071;
}
.cat{
    background-image: url(/images/bg_720.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.s1 ul li{
    list-style: none;
    padding: 3px;
    display: inline;
    margin: 1rem;


}
.s1{
    display: flex;
    border: 100%;


}
.s2{
    width: 50%;
}
.s3{
    width: 50%;
}
.s4{
    text-align: center;
  
}
.s5{
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
}

.s6{
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;

}
.s7{
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;


}
.s8{
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;

}
.s9{
    border: solid;
    width: 15%;
    height: 25%;
    padding: 35px;
    border-radius: 10px;
    font-size: 20px;
}
.s10{
    padding: 15px;
    border-radius: 20px;
    font-size: 10px;
    background-color:#f77071 ;
}
.s12{
    color: #f77071;
}
.cat{
    background-image: url(/images/bg_720.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}



